@page
@model Mission9.Pages.PurchaseCompleteModel
@{
}

<div class="text-center">
    <h2>Thanks for your purchase! Your books will be there soon.</h2>

    <a class="btn btn-primary" asp-controller="Home">Home</a>
</div>
